snippet _tcfb
	int tc; cin >> tc;
	for (int _ = 1; _ <= tc; ++_) {
		cout << "Case #" << _ << ": ";
		$0
	}
snippet _tc
	int tc; cin >> tc;
	while (tc--) {
		$0
	}
snippet _cpp
	#include "bits/stdc++.h"

	#ifndef LOCAL
	#define debug(...) 86
	#endif

	using namespace std;

	int main() {
		ios::sync_with_stdio(0), cin.tie(0);
		$0
	}
